.top-bar {
  background-color: #04BF55;
  height: 70px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.logo {
  height: 40px;
  max-width: 100%;
  object-fit: contain;
  display: block;
}